/*tot 1600px ziet het er oke uit*/

/*banner*/
#banner{
    display: flex;
    justify-content: flex-end;
    height: 500px;
}
#bannerText{
    width: 320px;
    padding-right: 30px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#bannerImg{
    height: auto;
    width: 970px; /*deze aanpassen als het scherm kleiner wordt*/
}



/*submissions*/
#submissions{
    background-color: #258D73;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#submissionsText{
    width: 500px;
    padding-right: 420px; /*deze aanpassen als het scherm kleiner wordt*/
    padding-left: 120px;
    color: #fff;
}
#submissionsText > p{
    margin: 32px 0 40px 0;
}
#darkGreenBg{
    background-color: #155746;
    height: 500px;
    display: flex;
    align-items: center;
}
#submissionsImg{
    width: 600px;
    height: auto;
    margin-left: -400px; /*deze aanpassen als het scherm kleiner wordt*/
    margin-right: 200px;
}



/*Gallery*/
.gallery-section {
    background-color: #fff;
    padding: 100px;
}
.gallery-section > img {
    width: auto;
    height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 2px solid #155746;
}
.gallery-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#madeBy{
    color: #155746;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    text-align: center;
}
.thumbnails {
    width: 700px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.gallery-section .thumbnails img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
}
.gallery-section .thumbnails img[data-selected="true"] {
    border: 2px solid #258D73;
}
.gallery-section .thumbnails img + img {
    margin-left: 20px;
}



/*About*/
#about{
    background-color: #890000;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}
#aboutText{
    color: #fff;
    width: 350px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}
#aboutImg{
    width: 800px;
    margin-top: -100px;
    margin-bottom: 100px;
    object-fit: cover;
}



/*filler*/
#filler{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*back to top*/
#backToTop{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
#btnround{
    padding: 16px 20px;
    border-radius: 100px;
}




@media only screen and (max-width: 1350px){
    #submissionsImg{
        width: 500px;
        object-fit: cover;
    }
    #submissionsText{
        padding-right: 450px;
    }
    #about{
        height: 400px;
    }
    #aboutText{
        width: 500px;
    }
    #aboutImg{
        width: 600px;
    }
}
@media only screen and (max-width: 1150px){
    #banner{
        height: 400px;
    }
    #bannerImg{
        width: 600px;
        object-fit: cover;
    }
    #bannerText{
        padding-right: 50px;
    }
    #submissionsText{
        width: 360px;
        padding-right: 50px;
        margin-right: 300px;
        padding-left: 120px;
    }
    #submissionsImg{
        width: 400px;
        margin-left: -300px;
    }
    #aboutText{
        margin-left: 50px;
        padding-right: 50px;
    }
    #aboutImg{
        width: 500px;
        height: 300px;
        margin-top: -50px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 1020px) {
    #banner{
        height: auto;
    }
    #bannerImg{
        width: 500px;
    }
    #bannerText{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #submissionsText{
        padding-right: 50px;
        margin-right: 200px;
        padding-left: 120px;
    }
    #submissionsImg{
        margin-left: -200px;
        margin-right: 120px;
    }
}
@media only screen and (max-width: 920px) {
    #bannerText{
        padding-left: 70px;
    }
    #submissionsText{
        padding-right: 50px;
        margin-right: 200px;
        padding-left: 70px;
    }
    #submissionsImg{
        width: 300px;
        margin-left: -200px;
        margin-right: 120px;
    }
    #aboutImg{
        width: 400px;
        height: auto;
    }
}

@media only screen and (max-width: 830px) {
    #banner{
        flex-direction: column;
    }
    #bannerImg{
        width: 100%;
        height: 200px;
    }
    #bannerText{
        width: auto;
        padding: 50px;
        margin: 0;
    }

    #submissions{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    #submissionsText{
        width: auto;
        padding: 50px;
        margin: 0 0 150px 0;
    }
    #submissionsImg{
        width: 70%;
        margin: auto;
        margin-top: -150px;
    }
    #darkGreenBg{
        height: 300px; /*aanpassen voor mobiel*/
    }

    #about{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 150px;
    }
    #aboutText{
        margin: 0;
        padding: 50px;
        width: auto;
    }
    #aboutImg{  
        width: 70%;
        margin: auto;
        margin-top: -150px;
    }
}
@media only screen and (max-width: 700px) {
    #darkGreenBg{
        height: 200px; 
    }
    .thumbnails{
        width: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .gallery-section{
        padding: 100px 0;
    }

    #darkGreenBg{
        height: 150px; 
    }
}
@media only screen and (max-width: 500px) {
    #bannerImg{
        height: 100px;
    }
    #bannerText{
        padding: 50px 20px;
    }
    
    #submissionsText{
        padding: 50px 20px;
        margin-bottom: 100px;
    }
    #submissionsImg{
        margin-top: -80px;
    }

    .gallery-section{
        padding: 100px 0;
    }
    .gallery-section > img {
        width: auto;
        height: 300px;
    }
    #madeBy{
        width: 90%;
    }
    .thumbnails{
        width: 100%;
        margin: 20px 0 0 0;
        justify-content: flex-start;
        overflow: auto;
    }
    .thumbnails img + img {
        margin-left: 20px;
    }

    #aboutImg{
        margin-top: -100px;
    }
}

@media only screen and (min-width: 1441px){

}